.wrapper{
  display: flex;
  position: relative;
  border-radius:  var(--border-radius-md);
}

.image {
  width: 100%;
  height: auto;
  z-index: 1;
  object-fit: cover;
  position: absolute;
}
.content {
  width: 100%;
  display: flex;
  z-index: 2;
  padding: var(--padding-md);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius:  var(--border-radius-md);
  background-color: rgba(var(--callout-rgb), 0.5);
}
